<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.itheima.mapper.UserMapper">
    <insert id="addUser">
        INSERT INTO user(user_name,user_password,user_email,user_role,user_status)
        values (#{name}, #{password},#{email},#{role},0)
    </insert>
</mapper>